.app {
  padding-top: 20px;
}

.search {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-content: center;
}

.button {
  padding-left: 10px;
}

.imageHolder {
  background-color: #808080;
}

.content {
  padding-top: 20px;
  display: flex;
  flex-flow: row;
  align-content: center;
  justify-content: center;
}

.imageCarouselHolder {
  width: 500px;
  max-height: 1000px;
  padding-right: 20px;
}
